@font-face {
  font-family: "Mayenne Sans_Regular";
  src: url("./assets/webfonts/Mayenne_Sans-Regular_web.woff2") format("woff2");
}
@font-face {
  font-family: "Hyper Scrypt_Stencil";
  src: url("./assets/HyperScrypt_Web/HyperScrypt-Stencil_web.woff2")
    format("woff2");
}
html {
  box-sizing: border-box;
}
.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./assets/white.jpg");
  min-height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}
summary {
  display: list-item;
}

img {
  border-style: none;
}

.image {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
}

.btn,
.button {
  border: none;
  display: inline-block;
  padding: 0.5em 1em;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.btn:hover {
  box-shadow: 0.5em 1em 0 rgba(0, 0, 0, 0.2),
    0 0.375em 1.25em 0 rgba(0, 0, 0, 0.19);
}
.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input {
  padding: 0.5em;
  display: block;
  border: none;
  border-bottom: 0.0625em solid #ccc;
  width: 100%;
}
.select {
  padding: 0.5625em 0;
  width: 100%;
  border: none;
  border-bottom: 0.0625em solid #ccc;
}

.sidebar {
  height: 100%;
  width: 12.5em;
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
}

.main,
#main {
  transition: margin-left 0.4s;
}

.responsive {
  display: block;
  overflow-x: auto;
}

.half {
  float: left;
  width: 100%;
}

@media (min-width: 37.1em) {
  .half {
    width: 49.99999%;
  }

  @media (min-width: 62em) {
    width: 74.99999%;
  }
  .col.l10 {
    width: 83.33333%;
  }
  .col.l11 {
    width: 91.66666%;
  }
  .col.l12 {
    width: 99.99999%;
  }
}
.rest {
  overflow: hidden;
}

.content,
.auto {
  margin-left: auto;
  margin-right: auto;
}
.content {
  max-width: 61.25em;
}
.auto {
  max-width: 71.25em;
}

.hide {
  display: none;
}

@media (max-width: 75.31em) {
  .auto {
    max-width: 95%;
  }
}
@media (max-width: 31.25em) {
  .hide-small {
    display: none !important;
  }
}

@media (min-width: 62.06em) {
  .hide-large {
    display: none !important;
  }
}
@media (max-width: 62em) and (min-width: 37.56em) {
  .hide-medium {
    display: none !important;
  }
}
@media (max-width: 62em) {
  .sidebar.collapse {
    display: none;
  }
  .main {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .auto {
    max-width: 100%;
  }
}

.container,
.panel {
  padding: 0.01em 1em;
}

.card,
.card-2 {
  box-shadow: 0 1.125em 0.3125em 0 rgba(0, 0, 0, 0.16),
    0 0.125em 0.625em rgba(0, 0, 0, 0.12);
}
.card-4,
.hover-shadow:hover {
  box-shadow: 0 0.25em 0.625em 0 rgba(0, 0, 0, 0.2),
    0 0.25em 1.25em 0 rgba(0, 0, 0, 0.19);
}

.opacity,
.hover-opacity:hover {
  opacity: 0.6;
}

.jumbo {
  font-family: "Hyper Scrypt_Stencil";
  font-size: 5em;
  text-align: center;
}

.kayla {
  font-family: "Mayenne Sans_Regular";
  font-size: 2em;
  text-align: center;
  align-items: center;
}

.section,
.padding-16 {
  padding-top: 1em;
  padding-bottom: 1em;
}
.padding-32 {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}

.left {
  float: left !important;
}
.right {
  float: right !important;
}
.button:hover {
  color: #000;
  background-color: #ccc;
}
.transparent,
.hover-none:hover {
  background-color: transparent !important;
}
.hover-none:hover {
  box-shadow: none !important;
}
.text-grey {
  font-family: "Hyper Scrypt_Stencil";
  font-size: 3em;
  padding-top: 2em;
}

h2 {
  font-size: 0.5em;
  padding-top: 5%;
  opacity: 0;
}

.text {
  font-family: "Mayenne Sans_Regular";
  font-size: 1.5em;
  line-height: 1em;
  padding: 1em;
}
.introtext {
  font-family: "Mayenne Sans_Regular";
  font-size: 5em;
  line-height: 1.7em;
  color: green;
  -webkit-text-stroke: 0.0125em seashell;
  text-align: center;
}
.main:hover {
  background-color: rgb(243, 255, 239);
}
